
# ---------------------------------------------------------
# STANDARD JULIA IGNORE
/Manifest.toml
/Manifest*.toml
docs/build/
docs/node_modules/
.DS_Store
.env
.env.gpg
.vscode

# Coverage artifacts
*.jl.cov
*.jl.mem
/lcov.info
# ---------------------------------------------------------
