
# ---------------------------------------------------------
# STANDARD JULIA IGNORE
/Manifest.toml
/Manifest*.toml
docs/
docs/node_modules
.DS_Store
docs/.DS_Store
.env
.env.gpg
.vscode
# ---------------------------------------------------------

